<div id="<%= dom_id csv_record %>">
  <p>
    <strong>Date:</strong>
    <%= csv_record.date %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= csv_record.value %>
  </p>

  <p>
    <strong>Domain name:</strong>
    <%= csv_record.domain_name %>
  </p>

</div>
